# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# production
/build

# env
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# project docs
idea-projecto.md
plan-estudio.docx

# IDE
.vscode/*
!.vscode/settings.json
.idea/
*.swp
*.swo
*~
.DS_Store
